@using Microsoft.AspNetCore.Identity
@inject SignInManager<tourBD.Membership.Entities.ApplicationUser> _signInManager
@inject UserManager<tourBD.Membership.Entities.ApplicationUser> _userManager
@inject tourBD.Membership.Services.IPathService _imageFolderPath

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>tourBD</title>

    <!-- Font Awesome Icons -->
    <link href="~/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/admin/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav" id="top-navigations">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Forum" asp-action="Index" class="nav-link">Forum</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Company" asp-action="Index" class="nav-link">Tour Providers</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Company" asp-action="PopularPackages" class="nav-link">Popular Packages</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Services" class="nav-link">Services</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/admin/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/admin/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/admin/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-blue elevation-4" style="position: fixed;">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/img/tbd-logo.PNG" alt="TBD Logo" class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">tourBD</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        var user = await _userManager.GetUserAsync(User);
                        if (user != null)
                        {
                            <div class="image">
                                <img src="@user.ImageUrl" class="img-circle elevation-2" alt="User Image" style="height: 40px; width: 40px;">
                            </div>
                            <div class="info">
                                <a asp-controller="Account" asp-action="Profile" asp-route-userId="@user.Id.ToString()" class="d-block">@user.FullName</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="image img-circle elevation-2" style="height: 40px; width: 40px;">
                            <i class="fa fa-user" aria-hidden="true" style="color: #ddd; margin-top: 10px"></i>
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Anonymous</a>
                        </div>
                    }
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Personal Tabs
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" id="navigation-sidebar">
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    var user = await _userManager.GetUserAsync(User);
                                    if (user != null)
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Forum" asp-action="CreatePost" asp-route-userId="@user.Id" class="nav-link">
                                                <i class="fa fa-paper-plane nav-icon" aria-hidden="true"></i>
                                                <p>Create Post</p>
                                            </a>
                                        </li>

                                        if (await _userManager.IsInRoleAsync(user, "Admin"))
                                        {
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                                    <i class="fas fa-user-shield nav-icon" style="color: crimson" aria-hidden="true"></i>
                                                    <p>Admin Deshboard</p>
                                                </a>
                                            </li>
                                        }
                                    }

                                    <li class="nav-item">
                                        <a asp-controller="Company" asp-action="UserCompany" class="nav-link">
                                            <i class="fa fa-cubes nav-icon" aria-hidden="true"></i>
                                            <p>My company</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Logout" class="nav-link">
                                            <i class="fa fa-user-times nav-icon" aria-hidden="true"></i>
                                            <p>Sign out</p>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Register">
                                            <i class="fa fa-id-card nav-icon" aria-hidden="true"></i>
                                            <p>Register</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                                            <i class="fa fa-address-book nav-icon" aria-hidden="true"></i>
                                            <p>Login</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-top: 0px">

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Dedicated public service
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="#">tourBD</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/js/adminlte.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {

        let url = window.location.pathname.split(/[\/,?]/);
        let pathAction = url[url.length - 1];

        // activate navigation menu.
        $('#navigation-sidebar a').each(function () {

            let linkHref = $(this).attr('href').split(/[\/,?]/);
            let linkAction = linkHref.length == 2 ? linkHref[1] : linkHref[2];

            if (linkAction == pathAction) {
                $(this).addClass('active');
                return false;
            }
        });

        $('ul#top-navigations li.d-sm-inline-block a').each(function () {

            let linkHref = $(this).attr('href').split(/[\/,?]/);
            let linkAction = linkHref[linkHref.length - 1];

            if (linkAction == pathAction) {
                $(this).addClass('active-nav-item');
                return false;
            }
        });

    });

</script>