@model IEnumerable<tourBD.Web.Models.PostModels.PostViewModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<tourBD.Membership.Entities.ApplicationUser> _signInManager
@inject UserManager<tourBD.Membership.Entities.ApplicationUser> _userManager
@inject tourBD.Membership.Services.IPathService _pathService;

@section Styles {
    <style>
        .card img#author-profile-pic {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .card .card-footer #post-likes {
            width: 80px;
        }

        .commment-user-name {
            color: chocolate
        }

        .post-user-name {
            color: darkorange
        }

        .post-container .single-post .card {
            width: 100%
        }

        .comment-box #default-comment-box {
            width: 100%;
        }

        .comment-box {
            padding-right: 0;
        }

        .afterLike {
            color: blue !important;
            cursor: pointer !important;
        }

        .row.commentWrapper {
            height: 30px;
        }

        .replay-link {
            width: 50px;
        }

        .replay-link a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            text-align: left;
            color: blueviolet;
            border: 0;
            font-size: 13px;
        }

        .replay-link:hover a {
            text-decoration: underline;
            color: blueviolet;
            cursor: pointer;
        }

        a#commentViewer {
            color: darkmagenta;
            padding: 0;
        }

        a#commentViewer:hover {
            color: darkmagenta;
            text-decoration: underline;
        }

    </style>
}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-container">
                    @foreach (var item in Model)
                    {
                        <div class="single-post">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="post-author-pic">
                                            <img src="@item.Post.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                            <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@item.Post.AuthorId.ToString()" class="commment-user-name">@item.Post.AuthorName</a></span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            @item.Post.Message
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        @{
                                            var user = await _userManager.GetUserAsync(User);

                                            if (user != null)
                                            {
                                                if (item.IsLikedBy)
                                                {
                                                    <div>
                                                        <button id="post-likes" class="btn btn-sm btn-light afterLike" onclick="countLikesAjax(this, '@item.Post.Id.ToString()')" disabled><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                        <span id="like-count">@item.Post.Likes.Count</span> <small class="afterLike">Like</small>
                                                        <hr />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <button id="post-likes" class="btn btn-sm btn-light" onclick="countLikesAjax(this, '@item.Post.Id.ToString()')"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                        <span id="like-count">@item.Post.Likes.Count</span> <small class="afterLikeInstant">Like</small>
                                                        <hr />
                                                    </div>
                                                }

                                                <div class="row">
                                                    <div class="col-auto">
                                                        <img src="@user.ImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                    </div>
                                                    <div class="comment-box col">
                                                        <textarea id="default-comment-box" name="cmtbox" rows="1"></textarea>
                                                    </div>
                                                    <div class="col-auto pl-1">
                                                        <button id="btn-add-comment" class="btn btn-sm btn-outline-primary" onclick="AjaxComment(this, '@item.Post.Id.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"> Comment</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <a id="commentViewer" class="btn" onclick="CommentShower(this)"><small>view comments</small></a>

                                        <div class="comment-container" style="display: none">

                                            @foreach (var comment in item.Post.Comments)
                                            {
                                                <div class="single-comment">

                                                    <div class="row commentWrapper">
                                                        <div class="comment-autor-pic col-auto">
                                                            <img src="@comment.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                            <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@comment.AuthorId.ToString()" class="commment-user-name">@comment.AuthorName</a></span>
                                                        </div>
                                                        <div class="col">
                                                            <p>
                                                                @comment.Message
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <ul class="replay-link p-0" style="margin: 0 0 0 33px; list-style: none; display: inline-block">
                                                        <li style="display: block">
                                                            <a class="replay-trigger" onclick="CreateReplayBox(this, '@comment.Id.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">Replay</a>
                                                        </li>
                                                    </ul>

                                                    <div class="replay-container">
                                                        @foreach (var replay in comment.Replays)
                                                        {
                                                            <div class="single-replay">
                                                                <div class="row">
                                                                    <div class="replay-author-pic col-auto offset-1">
                                                                        <img src="@replay.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                                        <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@replay.AuthorId.ToString()" class="commment-user-name">@replay.AuthorName</a></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <p>
                                                                            @replay.Message
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });

        function CommentShower(btn) {
            let text = btn.innerText;
            $(btn)[0].children[0].innerText = (text == "view comments" ? "hide comments" : "view comments");

            $(btn).siblings('.comment-container').toggle();
        }

        function AjaxComment(btn, postId, folderPath, imageUrl, name) {
            let box = $(btn).parent().siblings('.comment-box').children()[0];
            let message = box.value;
            box.value = "";
            imageUrl = folderPath + imageUrl;

            $.ajax({
                url: '/Forum/AddComment',
                type: 'POST',
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { postId: postId, message: message },
                success: function (response) {
                    let commentHtml = `<div class="row">
                                            <div class="comment-autor-pic col-auto">
                                                <img src="`+ imageUrl + `" alt="profile-pic" id="author-profile-pic" /> <span class="commment-user-name">` + name + `</span>
                                            </div>
                                            <div class="col">
                                                <p>`+ message + `</p>
                                            </div>
                                        </div>`;

                    $(btn).parent().parent().siblings('.comment-container').append(commentHtml);
                },
                error: function (data, status, xhr) {
                    console.log(status);
                }
            });
        }

        let cmtId = '', imgUrl = '', fName = '';
        function CreateReplayBox(item, commentId, folderPath, imageUrl, name) {
            cmtId = commentId;
            imgUrl = imageUrl;
            fName = name;
            imageUrl = folderPath + imageUrl;

            let replayHtml = `<div class="row default-replay-box">
                                    <div class="replay-author-pic col-auto offset-1">
                                        <img src="` + imageUrl + `" alt="profile-pic" id="author-profile-pic" /> <span class="commment-user-name">` + name + `</span>
                                    </div>
                                    <div class="comment-box col">
                                        <textarea id="default-comment-box" name="cmtbox" rows="1"></textarea>
                                    </div>
                                    <div class="col-auto pl-1">
                                        <button id="btn-add-comment" class="btn btn-sm btn-outline-primary" onclick="AjaxReplay(this, '` + cmtId + `', '` + folderPath + `', '` + imgUrl + `', '` + fName + `')">
                                            <i class="fa fa-plus-circle" aria-hidden="true"> Replay</i>
                                        </button>
                                    </div>
                                </div>`;

            $(item).parent().parent().siblings('.replay-container').append(replayHtml);
        }

        function AjaxReplay(item, commentId, folderPath, imageUrl, name) {
            imageUrl = folderPath + imageUrl;
            let message = $(item).parent().siblings('.comment-box').children()[0].value;

            $.ajax({
                url: '/Forum/AddReplay',
                type: 'POST',
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { commentId: commentId, message: message },
                success: function (response) {
                    let replayHtml = `<div class="row">
                                            <div class="replay-autor-pic col-auto offset-1">
                                                <img src="`+ imageUrl + `" alt="profile-pic" id="author-profile-pic" /> <span class="commment-user-name">` + name + `</span>
                                            </div>
                                            <div class="col">
                                                <p>`+ message + `</p>
                                            </div>
                                        </div>`;

                    $(item).parent().parent().parent().append(replayHtml);
                    $(item).parent().parent().remove(); // delete replay box.
                },
                error: function (data, status, xhr) {
                    console.log(status);
                }
            });
        }

        function countLikesAjax(btn, postId) {

            $.ajax({
                url: '/Forum/AddLike',
                type: 'POST',
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { postId: postId },
                success: function (response) {
                    let elem = $(btn).siblings('#like-count');
                    let likes = parseInt(elem[0].innerText) + 1;
                    elem.text(likes);

                    $(btn).addClass('afterLike');
                    $(btn).siblings('.afterLikeInstant').addClass('afterLike');
                    btn.disabled = true;
                },
                error(data, status, xhr) {
                    console.log(status);
                }
            });
        }

    </script>
}