@model IEnumerable<tourBD.Web.Models.PostModels.PostViewModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<tourBD.Membership.Entities.ApplicationUser> _signInManager
@inject UserManager<tourBD.Membership.Entities.ApplicationUser> _userManager
@inject tourBD.Membership.Services.IPathService _pathService;

@section Styles {

    <link href="~/css/forum/forum-index.css" rel="stylesheet" />
}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-container">
                    @foreach (var item in Model)
                    {
                        <div class="single-post">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="post-author-pic">
                                            <img src="@item.Post.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                            <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@item.Post.AuthorId.ToString()" class="commment-user-name">@item.Post.AuthorName</a></span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            @item.Post.Message
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        @{
                                            var user = await _userManager.GetUserAsync(User);

                                            if (user != null)
                                            {
                                                <div class="like-wrapper row">
                                                    @if (item.IsLikedBy)
                                                    {
                                                        <button id="post-likes" class="btn btn-sm btn-light afterLike" onclick="countLikesAjax(this, '@item.Post.Id.ToString()')" disabled><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                        <span id="like-count">@item.Post.Likes.Count</span> <small class="fix-like afterLike">Like</small>
                                                    }
                                                    else
                                                    {
                                                        <button id="post-likes" class="btn btn-sm btn-light" onclick="countLikesAjax(this, '@item.Post.Id.ToString()')"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                        <span id="like-count">@item.Post.Likes.Count</span> <small class="fix-like afterLikeInstant">Like</small>
                                                    }

                                                    <div class="commentCounter">@item.Post.Comments.Count <small>comment</small></div>
                                                </div>
                                                <hr />
                                                <div class="row mt-3">
                                                    <div class="col-auto">
                                                        <img src="@user.ImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                    </div>
                                                    <div class="comment-box col">
                                                        <textarea id="default-comment-box" name="cmtbox" rows="1"></textarea>
                                                    </div>
                                                    <div class="col-auto pl-1">
                                                        <button id="btn-add-comment" class="btn btn-sm btn-outline-primary" onclick="AjaxComment(this, '@item.Post.Id.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">
                                                            <i class="far fa-comment-alt" style="color: darkolivegreen"> Comment</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <a id="commentViewer" class="btn" onclick="CommentShower(this)"><small>view comments</small></a>

                                        <div class="comment-container" style="display: none">

                                            @foreach (var comment in item.Post.Comments)
                                            {
                                                <div class="single-comment">

                                                    <div class="row commentWrapper">
                                                        <div class="comment-autor-pic col-auto">
                                                            <img src="@comment.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                            <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@comment.AuthorId.ToString()" class="commment-user-name">@comment.AuthorName</a></span>
                                                        </div>
                                                        <div class="col">
                                                            <p>
                                                                @comment.Message
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <ul class="replay-link p-0" style="margin: 0 0 0 33px; list-style: none; display: inline-block">
                                                        <li style="display: block">
                                                            <a class="replay-trigger" onclick="CreateReplayBox(this, '@comment.Id.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">Replay</a>
                                                        </li>
                                                    </ul>

                                                    <div class="replay-container">
                                                        @foreach (var replay in comment.Replays)
                                                        {
                                                            <div class="single-replay">
                                                                <div class="row">
                                                                    <div class="replay-author-pic col-auto offset-1">
                                                                        <img src="@replay.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                                        <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@replay.AuthorId.ToString()" class="commment-user-name">@replay.AuthorName</a></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <p>
                                                                            @replay.Message
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section Scripts {
    <script type="text/javascript" src="~/js/forumIndex.js"></script>

}