@model tourBD.Web.Models.PostModels.PostViewModel 

@using Microsoft.AspNetCore.Identity
@inject SignInManager<tourBD.Membership.Entities.ApplicationUser> _signInManager
@inject UserManager<tourBD.Membership.Entities.ApplicationUser> _userManager
@inject tourBD.Membership.Services.IPathService _pathService;

@section Styles {

    @*<link href="~/css/forum/forum-index.css" rel="stylesheet" />*@

    <style>

        .card img#author-profile-pic {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .card .card-footer #post-likes {
            width: 80px;
        }

        .commment-user-name {
            color: chocolate
        }

        .post-user-name {
            color: darkorange
        }

        .post-container .single-post .card {
            width: 100%
        }

        .comment-box #default-comment-box {
            width: 100%;
            height: 31px;
            border: none;
        }

        .comment-box {
            padding-right: 0;
        }

        .afterLike {
            color: blue !important;
            cursor: pointer !important;
        }

        .row.commentWrapper {
            height: 30px;
        }

        a#commentViewer {
            color: darkmagenta;
            padding: 0;
        }

            a#commentViewer:hover {
                color: darkmagenta;
                text-decoration: underline;
            }

        small.fix-like {
            margin-top: 6px;
            margin-left: 5px;
        }

        span#like-count {
            margin-top: 3px;
        }

        .commentCounter {
            margin-top: 3px;
            margin-left: 100px;
        }

        ul.replay-link {
            padding-left: 33.5px;
        }

        ul.delete-replay, ul.replay-link {
            list-style: none;
            display: flex;
            margin: 0;
        }

        ul.delete-replay li, ul.replay-link li {
            display: block;
        }

        ul.delete-replay li a, ul.replay-link li a {
            display: block;
            font-size: 13px;
            transition: .35s;
        }

        ul.delete-replay li a:hover, ul.replay-link li a:hover {
            text-decoration: underline;
            color: firebrick;
            transition: .35s;
            cursor: pointer;
        }

        ul.replay-link li a.delete-comment {
            margin-left: 10px;
        }

        ul.delete-replay li a {
            margin-top: -4px;
        }

        /* Dropdown */
        .dropdown p#dropdownMenuButton {
            font-weight: 900;
        }

        .dropdown p#dropdownMenuButton:hover {
            cursor: pointer;
        }

    </style>

}

@{ 
    var post = Model;
}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-container">
                    
                    <div class="single-post">
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                    <div class="post-author-pic float-left">
                                        <img src="@post.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                        <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@post.AuthorId.ToString()" class="commment-user-name">@post.AuthorName</a></span>
                                    </div>

                                    @if (post.IsPostAuthor)
                                    {
                                        <div class="dropdown float-right">
                                            <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        @post.Message
                                    </p>
                                </div>
                                <div class="card-footer">
                                    @{
                                        var user = await _userManager.GetUserAsync(User);

                                        if (user != null)
                                        {
                                            <div class="like-wrapper row">
                                                @if (post.IsLikedBy)
                                                {
                                                    <button id="post-likes" class="btn btn-sm btn-light afterLike" onclick="countLikesAjax(this, '@post.PostId.ToString()')" disabled><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                    <span id="like-count">@post.Likes</span> <small class="fix-like afterLike">Like</small>
                                                }
                                                else
                                                {
                                                    <button id="post-likes" class="btn btn-sm btn-light" onclick="countLikesAjax(this, '@post.PostId.ToString()')"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                                    <span id="like-count">@post.Likes</span> <small class="fix-like afterLikeInstant">Like</small>
                                                }

                                                <div class="commentCounter">@post.Comments.Count <small>comment</small></div>
                                            </div>
                                            <hr />
                                            <div class="row mt-3">
                                                <div class="col-auto">
                                                    <img src="@user.ImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                </div>
                                                <div class="comment-box col">
                                                    <textarea id="default-comment-box" name="cmtbox" rows="1"></textarea>
                                                </div>
                                                <div class="col-auto pl-1">
                                                    <button id="btn-add-comment" class="btn btn-sm btn-outline-primary" onclick="AjaxComment(this, '@post.PostId.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">
                                                        <i class="far fa-comment-alt" style="color: darkolivegreen"> Comment</i>
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    }

                                    <a id="commentViewer" class="btn" onclick="CommentShower(this)"><small>view comments</small></a>

                                    <div class="comment-container" style="display: none">

                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="single-comment">

                                                <div class="row commentWrapper">
                                                    <div class="comment-autor-pic col-auto">
                                                        <img src="@comment.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                        <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@comment.AuthorId.ToString()" class="commment-user-name">@comment.AuthorName</a></span>
                                                    </div>
                                                    <div class="col">
                                                        <p>
                                                            @comment.Message
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row replay-linkWrapper">
                                                    <div class="col">
                                                        <ul class="replay-link">
                                                            <li>
                                                                <a class="replay-trigger" onclick="CreateReplayBox(this, '@comment.CommentId.ToString()', '@_pathService.PictureFolder', '@user.ImageUrl', '@user.FullName')">Replay</a>
                                                            </li>
                                                            @if (comment.IsCommentAuthor)
                                                            {
                                                                <li>
                                                                    <a class="delete-comment">Delete</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="replay-container">
                                                    @foreach (var replay in comment.Replays)
                                                    {
                                                        <div class="single-replay">
                                                            <div class="row">
                                                                <div class="replay-author-pic col-auto offset-1">
                                                                    <img src="@replay.AuthorImageUrl" alt="profile-pic" id="author-profile-pic" />
                                                                    <span class="commment-user-name"><a asp-controller="Account" asp-action="Profile" asp-route-userId="@replay.AuthorId.ToString()" class="commment-user-name">@replay.AuthorName</a></span>
                                                                </div>
                                                                <div class="col">
                                                                    <p>
                                                                        @replay.Message
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            @if (replay.IsReplayAuthor)
                                                            {
                                                                <div class="row">
                                                                    <div class="offset-1">
                                                                        <ul class="delete-replay">
                                                                            <li>
                                                                                <a onclick="DeleteReplayAjax(this, '@replay.ReplayId.ToString()')">Delete</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section Scripts {
    <script type="text/javascript" src="~/js/forumIndex.js"></script>

}