@model tourBD.Membership.Entities.Company

@section Styles {

    <link href="~/css/company/company-public-view.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row" style="padding-left: 8px;">
        <div class="col-md-4 card">
            <div class="company-description">
                <div class="cnd">
                    <p>@Model.Name</p>
                </div>

                <div class="company-info">
                    <ul class="description-as-list">
                        <li>
                            <label class="single-info">Email: </label>
                            <span class="value-text">@Model.Email</span>
                        </li>
                        <li>
                            <label class="single-info">Mobile: </label>
                            <span class="value-text">@Model.PhoneNumber</span>
                        </li>
                        <li>
                            <label class="single-info">Address: </label>
                            <span class="value-text">@Model.Address</span>
                        </li>
                        <li>
                            <label class="single-info">Stars: </label>
                            <span class="value-text">@Model.Star</span>
                        </li>
                        <li>
                            <label class="single-info">Packages: </label>
                            <span class="value-text">@Model.TourPackages.Count packages</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="cover card">
                <img src="@Model.CompanyImageUrl"
                     alt="Company image"
                     id="cover-photo" />
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-md-12">
            <p class="package-list">List of packages</p>
        </div>
    </div>

    <div class="row">
        @foreach (var package in Model.TourPackages)
        {
            <div class="col-md-4">
                <div class="card single-package">
                    <div class="card-header p-2">
                        <div class="header-left float-left">
                            <label>Package code: <span class="color-ml-3">@package.PackageCode</span></label> <br />
                            <label class="main-area-label">Area: <span class="main-area-name color-ml-3">@package.Division</span></label> <br />
                            <label>Days: <span class="color-ml-3">@package.Days days</span></label> <br />

                            @if (package.Discount == 0)
                            {
                                <label>Price: <span class="color-ml-3">@package.Price tk</span></label> <span> (per adalt)</span>
                            }
                            else
                            {
                                double discountedPrice = package.Price - (package.Price * package.Discount) / 100;
                                <label>Price: <span class="ml-2" style="color: red"><s>@package.Price tk</s></span><span style="color: blue" class="ml-2">@discountedPrice tk</span></label> <span> (per adalt)</span>
                            }
                        </div>
                        <div class="header-right float-right">
                            @if (package.Availability == tourBD.Membership.Enums.AvailabilityStatus.Available.ToString())
                            {
                                <button class="btn btn-sm btn-success available">@package.Availability</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-danger available">@package.Availability</button>
                            }
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <label class="mb-1"><span style="color: darkgoldenrod; font-weight: 600;">@package.Spots.Count</span> spots</label>
                        <div class="spot-list">
                            @foreach (var spot in package.Spots)
                            {
                                <div class="col-sm-auto float-left btn btn-sm btn-dark mr-1 mb-1">
                                    @spot.Name
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer p-2" style="text-align: center">
                        <a class="btn btn-primary btn-sm" asp-controller="Company" asp-action="ViewPackage" asp-route-packageId="@package.Id.ToString()">View Package Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/SpotSearch.js"></script>
}