@model tourBD.Web.Models.CompanyModels.CompanyPublicViewModel

@section Styles {

    <link href="~/css/company/company-public-view.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row" style="padding-left: 8px;">
        <div class="col-md-4 card">
            <div class="company-description">
                <div class="company-logo">
                    <img src="@Model.Company.CompanyLogo" alt="Company Logo" />
                </div>
                <div class="cnd">
                    <p>@Model.Company.Name</p>
                </div>

                <div class="company-info">
                    <ul class="description-as-list">
                        <li>
                            <label class="single-info">Email: </label>
                            <span class="value-text">@Model.Company.Email</span>
                        </li>
                        <li>
                            <label class="single-info">Mobile: </label>
                            <span class="value-text">@Model.Company.PhoneNumber</span>
                        </li>
                        <li>
                            <label class="single-info">Stars: </label>
                            <span class="value-text">@Model.Company.Star</span>
                        </li>
                        <li>
                            <label class="single-info">Packages: </label>
                            <span class="value-text">@Model.Company.TourPackages.Count packages</span>
                        </li>
                        <li>
                            <label class="single-info">Address: </label>
                            <span class="value-text">@Model.Company.Address</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="cover card">
                <img src="@Model.Company.CompanyImageUrl"
                     alt="Company image"
                     id="cover-photo" />
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-md-12">
            <p class="package-list">List of packages</p>
        </div>
    </div>

    <div class="row">
        @foreach (var package in Model.Company.TourPackages)
        {
            <div class="col-md-4">
                <partial name="_PackagePartial" model="package" />
            </div>
        }
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/SpotSearch.js"></script>
}