@model tourBD.Web.Models.CompanyModels.EditCompanyViewModel

@section Styles {

    <link href="~/css/company/edit-company.css" rel="stylesheet" type="text/css"/>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10" style="margin: 0 auto">
            <form enctype="multipart/form-data" method="post" asp-controller="Company" asp-action="EditCompany">

                <input hidden asp-for="@Model.Company.Id" />
                <input hidden asp-for="@Model.Company.UserId" />
                <input hidden asp-for="@Model.Company.CompanyImageUrl" />
                <input hidden asp-for="@Model.Company.CompanyLogo" />
                <input hidden asp-for="@Model.Company.Star" />

                <div class="image-update row">
                    <div class="existing-cover-photo">
                        <img src="@Model.Company.CompanyImageUrl"
                             class="img-fluid"
                             alt="Company image"
                             id="cover-photo" style="width: 100%; height: 100%" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row" style="margin-left: 0px">
                            <label>Update Cover: </label><input class="ml-3" type="file" name="ImageFile" id="filePhoto" />
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="@Model.Company.Name" class="col-md-1 col-form-label"></label>
                            <div class="col-md-6">
                                <input asp-for="@Model.Company.Name" class="form-control" placeholder="Company Name" />
                                <span asp-validation-for="@Model.Company.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="@Model.Company.Email" class="col-md-1 col-form-label"></label>
                            <div class="col-md-6">
                                <input asp-for="@Model.Company.Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="@Model.Company.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="@Model.Company.PhoneNumber" class="col-md-1 col-form-label">Phone</label>
                            <div class="col-md-6">
                                <input asp-for="@Model.Company.PhoneNumber" class="form-control" placeholder="Phone number" />
                                <span asp-validation-for="@Model.Company.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="@Model.Company.Address" class="col-md-1 col-form-label"></label>
                            <div class="col-md-6">
                                <input asp-for="@Model.Company.Address" class="form-control" placeholder="Company Address" />
                                <span asp-validation-for="@Model.Company.Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-success">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin: 0">Update Company Logo:</label> <input class="ml-3" type="file" name="LogoFile" id="filePhoto" />
                        </div>
                        <hr />
                        <div class="current-logo">
                            <img src="@Model.Company.CompanyLogo" alt="Company Logo" style="width: 100%; height: 100%;"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row middle-row">
        <div class="col-md-6 package-heading">
            <p class="package-list">List of packages</p>
        </div>
        <div class="create-package col-md-6">
            <div class="package-create-link">
                <a asp-controller="Company" asp-action="CreatePackage" asp-route-companyId="@Model.Company.Id.ToString()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fas fa-plus-square"></i> Create Package
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var package in Model.Company.TourPackages)
        {
            <div class="col-md-4">
                <div class="card single-package">
                    <div class="card-header p-2">
                        <div class="header-left float-left">
                            <label>Package code: <span class="color-ml-3">@package.PackageCode</span></label> <br />
                            <label class="main-area-label">Area: <span class="color-ml-3">@package.Division</span></label> <br />
                            <label>Days: <span class="color-ml-3">@package.Days days</span></label> <br />

                            @if (package.Discount == 0)
                            {
                                <label>Price: <span class="color-ml-3">@package.Price tk</span></label> <span> (per adalt)</span>
                            }
                            else
                            {
                                double discountedPrice = package.Price - (package.Price * package.Discount) / 100;
                                <label>Price: <span class="ml-2" style="color: red"><s>@package.Price tk</s></span><span style="color: blue" class="ml-2">@discountedPrice tk</span></label> <span> (per adalt)</span>
                            }
                        </div>
                        <div class="header-right float-right">
                            @if (package.Availability == tourBD.Membership.Enums.AvailabilityStatus.Available.ToString())
                            {
                                <button class="btn btn-sm btn-success available">@package.Availability</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-danger available">@package.Availability</button>
                            }
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <label class="mb-1"><span style="color: darkgoldenrod; font-weight: 600;">@package.Spots.Count</span> spots</label>
                        <div class="spot-list">
                            @foreach (var spot in package.Spots)
                            {
                                <div class="col-sm-auto float-left btn btn-sm btn-dark mr-1 mb-1">
                                    @spot.Name
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer p-2" style="text-align: center;">
                        <a class="btn btn-primary btn-sm" asp-controller="Company" asp-action="EditPackage" asp-route-packageId="@package.Id.ToString()"><i class="far fa-edit"></i> Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Company" asp-action="DeletePackage" asp-route-packageId="@package.Id.ToString()"><i class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/SpotSearch.js"></script>
    <script type="text/javascript" src="~/js/pictureUpload.js"></script>

}