@model tourBD.Web.Models.CompanyModels.PackageSortViewModel
@using tourBD.Membership.Enums;

@section Styles {
    <link href="~/css/company/company-public-view.css" rel="stylesheet" />

}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            @foreach (var package in Model.Packages)
            {
                <div class="row justify-content-center mb-3 mt-3">
                    <div class="col-md-9">
                        <partial name="_PackagePartial" model="package" />
                    </div>
                </div>
            }
        </div>
        
        <div class="col-md-4">
            <form asp-controller="Company" asp-action="PopularPackages" method="post">

                <div class="sort-packages-heading row justify-content-center mt-3 mb-3">
                    <div class="sort-header">
                        <h3>Sort Packages</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="propertyLabel col-auto">
                        <label asp-for="BangladeshDivision">Division</label>
                    </div>
                    <div class="inputBox col-auto division-fix">
                        @Html.DropDownListFor(m => m.BangladeshDivision,
                            new SelectList(Enum.GetValues(typeof(BangladeshDivisions))),
                            $"{BangladeshDivisions.ALL.ToString()}",
                            new { @class = "form-control", required = (string)null })
                    </div>
                    <span asp-validation-for="BangladeshDivision" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-auto">
                        <label>Price</label>
                    </div>
                    <div class="col-auto price-arow-fix">
                        <div>
                            <input class="Price" asp-for="PriceUP" checked="@Model.PriceUP" /> <i class="fas fa-arrow-up"></i>
                        </div>
                        <div>
                            <input class="Price" asp-for="PriceDN" checked="@Model.PriceDN" /> <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-auto">
                        <label>Popularity</label>
                    </div>
                    <div class="col-auto">
                        <div>
                            <input class="Love" asp-for="LoveUP" checked="@Model.LoveUP" /> <i class="fas fa-arrow-up"></i>
                        </div>
                        <div>
                            <input class="Love" asp-for="LoveDN" checked="@Model.LoveDN" /> <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group row record-history">
                    <p>Showing @Model.Packages.Count() of total @Model.TotalRecords records</p>
                </div>
                <div class="row search-button">
                    <button onclick="resetPages()" type="submit" class="btn btn-primary">Search</button>
                </div>

                @{
                    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.NextPage ? "disabled" : "";
                }

                <!-- Paging -->
                <div class="row justify-content-center mt-5">
                    <div class="col-md-8">
                        <div class="row justify-content-md-center">
                            <div aria-label="Page navigation example" class="next-prev">
                                <input asp-for="PageIndex" value="@Model.PageIndex" hidden/>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button onclick="pageRender('dec')" id="prev-button" type="submit" class="page-link btn" aria-labelledby="Previous" @prevDisabled>Previous <span aria-hidden="true">&laquo;</span></button>
                                    </li>
                                    <li class="page-item">
                                        <button onclick="pageRender('inc')" id="next-button" type="submit" class="page-link btn" aria-labelledby="Next" @nextDisabled><span aria-hidden="true">&raquo;</span> Next</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/SpotSearch.js"></script>

    <script type="text/javascript">

        $('input.Price').on('change', function () {
            $('input.Price').not(this).prop('checked', false);
        });

        $('input.Love').on('change', function () {
            $('input.Love').not(this).prop('checked', false);
        });

        function pageRender(change) {
            var val = parseInt($('input#PageIndex')[0].value);
            if (change == 'inc') ++val;
            else --val;

            $('input#PageIndex')[0].value = val;
            console.log($('input#PageIndex')[0].value);
        }

        function resetPages() {
            $('input#PageIndex')[0].value = 1;
        }

    </script>

}